{% extends 'base.html.twig' %}

{% block title %}Feed - Postie{% endblock %}

{% block body %}

<main class="w-4/5">
  {% include 'feed/_form.html.twig' %}
  <twig:PostList />
</main>

{% endblock %}
