{% extends 'base.html.twig' %}

{% block title %}Feed - Postie{% endblock %}

{% block body %}

<main class="w-4/5 pt-2">
  {% if app.user %}
    {% include 'feed/_form.html.twig' %}
  {% endif %}
  <twig:PostList />
</main>

{% endblock %}
