<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </head>
  <body class="bg-slate-50 w-8/10 m-auto flex flex-row">
    {% include '_header.html.twig' %}

    {% block body %}{% endblock %}
  </body>
</html>
