{% extends 'base.html.twig' %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block body %}
  <div>
    <h1 class="font-bold text-2xl">{{ user.nickname }}</h1>
    <p class="w-8/10">{{ user.description }}</p>
    {# TODO secure this more #}
    {% if user.nickname == app.user.nickname %}
      <a class="text-slate-400 hover:text-slate-600" href="/settings">Edit</a>
    {% endif %}
  </div>

  <hr class="my-2"/>
  <twig:PostList author_id="{{user.id}}" />
{% endblock %}
