{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
  <div>
    <h1 class="text-2xl">{{ user.nickname }}</h1>
    <p class="w-8/10">{{ user.description }}</p>
  </div>

  <hr class="my-2"/>
  <twig:PostList author_id="{{user.id}}" />
{% endblock %}
